<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wisatayuk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wisata">
        <activity android:name=".About"></activity>
        <activity android:name=".PasarManis" />
        <activity android:name=".PasarPereng" />
        <activity android:name=".Pekih" />
        <activity android:name=".Vihara" />
        <activity android:name=".Gereja" />
        <activity android:name=".Masjid" />
        <activity android:name=".WisataReligi" />
        <activity android:name=".WisataKuliner" />
        <activity android:name=".Pustaka" />
        <activity android:name=".SmallWorld" />
        <activity android:name=".Museum" />
        <activity android:name=".WisataEdukasi" />
        <activity android:name=".HutanPinus" />
        <activity android:name=".TelagaSunyi" />
        <activity android:name=".AirTerjun" />
        <activity android:name=".WisataAlam" />
        <activity android:name=".TelagaPucung" />
        <activity android:name=".Alam" />
        <activity android:name=".MenuUtama" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>